.App {
  text-align: center;
}

.button {
  margin: 0 auto;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

h1 {
  font-size: 100px;
  margin-top: 80px;
  text-align: center;
}

.even {
  background-color: red;
}

.odd {
  background-color: blue;
}

.pink {
  background-color: rgb(129, 238, 20)
}

button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 20%;
  text-transform: uppercase;
  font-family: serif;
}